@model List<CQRS_Project.CQRS.Results.GetCategoryQueryResult>

@{
    Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<div class="container">
    <br /><br />
    <table class="table table-hover">
        <tr>
            <th>#</th>
            <th>Category Name</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.CategoryID</td>
                <td>@item.CategoryName</td>
                <td><a href="/Category/UpdateCategory/@item.CategoryID" class="btn btn-success">Update</a></td>
                <td><a href="/Category/RemoveCategory/@item.CategoryID" class="btn btn-danger">Delete</a></td>
            </tr>
        }
    </table>
    <a href="/Category/CreateCategory" class="btn btn-primary">Add New Category</a>
</div>
